
html body{
  height: 100%;
}
body{
	font-family: "Montserrat",serif;
    font-size: 90%;
	font-weight:100;
    margin: 0em;
    padding: 0em;
}

@font-face{
	font-family:"Montserrat";
	font-style: normal;
	font-weight:100;
	src:url(http://fonts.gstatic.com/s/montserrat/v7/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2);
}
div{
	/*width:20%;
	height:25em;*/
	
	overflow:hidden;
}
/*------------------------------------------
						Nav
------------------------------------------*/
nav{
	width:1038px;
	height:56px;
	margin:0px;
	margin-left:auto;
	margin-right:auto;
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
}
/*Überschrift nav*/
h1{	
	letter-spacing: 0.2em;
	float:left;
	margin-left:50px;
	margin-top:0.6em;
}
/*Überschrift div*/
h2{	
	font-size: 100%;
	font-weight: bold;
	letter-spacing: 0.2em;
	display:center;
	text-align: center;
	margin-top:0.6em;
}
/*Footer*/
h3{	
	font-size:80%;
	letter-spacing: 0.2em;
	float:left;
	margin-left:50px;
	margin-top:10px;
	padding:10px;
}
nav ul{
	float:right;
	margin-right: 10px;
}
nav lo{
	letter-spacing: 0.2em;
	font-size:80%;
	list-style-type:none;
	float:right;
	margin:2px;
	padding:3px;
	padding-right:12px;
	border: 2px solid #fff;
}
/*hover effect on nav lo*/
nav lo:hover{border-bottom-color:black;cursor:pointer;}
/*------------------------------------------
						Main
------------------------------------------*/
.hidden{
	display:none;
}
.visible{
	display:block;
}
main{
	height:auto;
	width:1038px;
	padding:0px;
	margin:0px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

/*type 3: 1 large, 1 small*/
.small{
	display:inline-block;
	height:275px;
	width:38.5%;
}
.large{
	display:inline-block;
	height:275px;
	width:59%;
}
/*overlay index side*/
.wrapper {
	margin: 0px;
	margin-top:1%;
	margin-left:0.5%;
	margin-right:0.5%;
    display: inline-block;
    position: relative;
}
.hover{
	margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 188, 212, 0);
    transition: background-color 0.5s;
}
.hover p{
	margin: 0px;
	text-align:center;
	line-height: 275px;
	font-family: serif;
	font-size: 180%;
	color:white;
}
.hover:hover{
    background-color: rgba(168, 168, 168, 0.5);
    /*You can tweak with other background properties too (ie: background-image)...*/
}
.wrapper img {
  width:100%;
}
.hover:hover p{
	display:block;
}
/*------------------------------------------
				Footer
------------------------------------------*/
footer{
	font-family: "Montserrat",serif;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width:1038px;
	margin:0px;
	margin-left:auto;
	margin-right:auto;
	height:50px;
	border-top: 1px solid #ccc;
}
footer ul{
	float:right;
	margin-right: 5px;
}
footer img{
	height:28px;
		padding-right:15px;
}
/*hover effect on footer lo*/
footer lo:hover{border-bottom-color:black;}
/*------------------------------------------
				Media Screens
------------------------------------------*/
@media screen and (max-width:1038px){
	h1{
		margin-bottom:5px;
	}
	nav ul{
		float:left;
		margin-top:0px;
		margin-bottom:0px;
	}
	nav{
		height:80px;
		border-bottom:0px;
	}
	.home,nav,footer,main{
		width:800px;
	}
	.home{
		height:624px;
	}
	.abstandSmall{
	height:0px;
	}
	.large{
		height:200px;
	}
	.small{height:200px;
	}
}