
html body{
  height: 100%;
}
body{
	font-family: serif;
    font-size: 90%;
	font-weight:100;
    margin: 0em;
    padding: 0em;
}
div{
	overflow:hidden;
}
/*------------------------------------------
						Nav
------------------------------------------*/
nav{
	width:1038px;
	height:56px;
	margin:0px;
	margin-left:auto;
	margin-right:auto;
	border-bottom: 2px solid #ccc;
	text-transform: uppercase;
}
/*Überschrift nav*/
h1{	
	font-weight:500;
	letter-spacing: 0.2em;
	float:left;
	margin-left:50px;
	margin-top:0.6em;
}
nav ul{
	float:right;
	margin-right: 10px;
}
nav li{
	letter-spacing: 0.3em;
	font-size:75%;
	list-style-type:none;
	float:right;
	margin:2px;
	padding:3px;
	padding-right:12px;
	border: 2px solid #fff;
}
/*hover effect on nav lo*/
nav li:hover{border-bottom-color:black;cursor:pointer;}
/*------------------------------------------
						Main
------------------------------------------*/
.hidden{
	display:none;
}
.visible{
	display:block;
}
.box{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}
main{
	height:auto;
	width:1038px;
	padding:0px;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
/*type 3: 1 large, 1 small*/
.small{
	display:inline-block;
	height:275px;
	width:38.5%;
}
.large{
	display:inline-block;
	height:275px;
	width:59%;
}
.xLarge{
	height:200px;
	margin:0px;
	margin-top:20px;
	margin-bottom:20px;
}
.message{
	margin: 0px;
	letter-spacing: 0.2em;
	text-align:center;
	line-height: 200px;
	font-family: serif;
	font-weight: 300;
	font-size: 400%;
}
/*overlay index side*/
.wrapper {
	margin: 0px;
	margin-top:1%;
	margin-left:0.5%;
	margin-right:0.5%;
    display: inline-block;
    position: relative;
}
.hover{
	margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 188, 212, 0);
    transition: background-color 0.5s;
}
.hover p{
	margin: 0px;
	text-align:center;
	line-height: 275px;
	font-family: serif;
	font-size: 180%;
	color:white;
}
.hover:hover{
    background-color: rgba(168, 168, 168, 0.5);
    /*You can tweak with other background properties too (ie: background-image)...*/
}
.wrapper img {
  width:100%;
}
.hover:hover p{
	display:block;
}
/*------------------------------------------
				Footer
------------------------------------------*/
/*Footer*/
h3{	
	font-size:80%;
	letter-spacing: 0.5em;
	margin-left:50px;
	line-height: 40px;
	width:300px;
	display:inline;
}
footer{
	font-family:serif;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width:1038px;
	margin:20px;
	margin-left:auto;
	margin-right:auto;
	height:40px;
	border-top: 2px solid #ccc;
}
footer ul{
	float:right;
	margin:0px;
	padding:0px;
	margin-right: 5px;
}
footer img{
	margin:8px;
	height:28px;
	padding-right:15px;
}
/*hover effect on footer lo*/
footer lo:hover{border-bottom-color:black;}
/*------------------------------------------
				Media Screens
------------------------------------------*/
@media screen and (max-width:1038px){
	h1{
		margin-bottom:5px;
		width:800px;
		margin-left:auto;
		margin-right:auto;
		padding-left:5px;
	}
	nav ul{
		margin:0px;
		padding:0px;
		width:800px;
		margin-left:auto;
		margin-right:auto;
		direction: rtl; 
	}
	nav li{
		float:left;
		margin-left:0px;
		padding-left:2px;
	}
	nav{
		height:80px;

	}
	.home,nav,footer,main{
		width:800px;
	}
	.home{
		height:624px;
	}
	.abstandSmall{
	height:0px;
	}
	.large{
		height:200px;
	}
	.small{height:200px;
	}
}